<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SportsArenaEntities" connectionString="metadata=res://*/DALRepository.csdl|res://*/DALRepository.ssdl|res://*/DALRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sports-arena-project.database.windows.net;initial catalog=db_SportsArena;persist security info=True;user id=sports-arena-project;password=Piyush1998!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>